---
BasedOnStyle: Google
IndentWidth: 4

AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignConsecutiveAssignments: 
  Enabled: true

AlignConsecutiveShortCaseStatements:
  Enabled: true