Checks:
  -*,
  abseil-*,
  bugprone-*,
  cert-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cert-err33-c,
  -cert-err34-c,
  -google-readability-braces-around-statements,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -readability-isolate-declaration,
  -modernize-macro-to-enum,
  -readability-named-parameter
